In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly as px
import warnings

In [7]:
# Importo el csv
df = pd.read_csv('populations_states.csv')

In [39]:
# Borro la columna 'url'
df.drop(columns='url', inplace=True)

In [42]:
df.duplicated

<bound method DataFrame.duplicated of             date data_or_inferred  incarcerated_total  incarcerated_white  \
0     2000-01-01         raw data             25213.0                8753
1     2000-02-01         raw data             25213.0                8753
2     2000-03-01         raw data             25161.0                8723
3     2000-04-01         raw data             25200.0                8738
4     2000-05-01         raw data             25226.0                8788
...          ...              ...                 ...                 ...
9580  2022-05-01         raw data            156704.0               90396
9581  2022-06-01         raw data            157426.0               90785
9582  2022-07-01         raw data            157435.0               90792
9583  2022-08-01         raw data            157565.0               90837
9584  2022-09-01         raw data            158041.0               91122

      incarcerated_black  incarcerated_hispanic  incarcerated_amerind  \
0                16382.0                    NaN                   NaN
1                16382.0                    NaN                   NaN
2                16361.0                    NaN                   NaN
3                16380.0                    NaN                   NaN
4                16358.0                    NaN                   NaN
...                  ...                    ...                   ...
9580             60041.0                    NaN                3998.0
9581             60370.0                    NaN                3997.0
9582             60386.0                    NaN                3995.0
9583             60470.0                    NaN                4015.0
9584             60652.0                    NaN                4023.0

      incarcerated_asian  incarcerated_other  incarcerated_unknown  \
0                    NaN                78.0                   NaN
1                    NaN                78.0                   NaN
2                    NaN                77.0                   NaN
3                    NaN                82.0                   NaN
4                    NaN                80.0                   NaN
...                  ...                 ...                   ...
9580              2269.0                 NaN                   NaN
9581              2274.0                 NaN                   NaN
9582              2262.0                 NaN                   NaN
9583              2243.0                 NaN                   NaN
9584              2244.0                 NaN                   NaN

      incarcerated_nonwhite    state
0                   16460.0  Alabama
1                   16460.0  Alabama
2                   16438.0  Alabama
3                   16462.0  Alabama
4                   16438.0  Alabama
...                     ...      ...
9580                66308.0  Federal
9581                66641.0  Federal
9582                66643.0  Federal
9583                66728.0  Federal
9584                66919.0  Federal

[9585 rows x 12 columns]>