In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly as px
import warnings

In [2]:
# Importo el csv
df_pop = pd.read_csv('populations_states.csv')
df_admision = pd.read_csv('admissions_releases_states.csv')
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
df_admision.describe()

,admissions_total,admissions_white,admissions_black,admissions_hispanic,admissions_amerind,admissions_asian,admissions_other,releases_total,releases_white,releases_black,releases_hispanic,releases_amerind,releases_asian,releases_other
count,"1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00","1,914.00"
mean,823.19,452.18,192.45,144.73,19.31,3.86,9.73,878.70,469.85,212.82,160.92,19.41,3.94,11.79
std,930.79,413.68,268.84,339.85,24.62,4.93,21.34,989.48,416.88,294.99,368.84,25.11,4.89,51.31
min,1.00,1.00,0.00,0.00,0.00,0.00,0.00,44.00,36.00,0.00,0.00,0.00,0.00,0.00
25%,318.50,217.00,36.00,0.00,1.00,0.00,0.00,353.00,248.00,37.00,0.00,1.00,0.00,0.00
50%,617.00,368.50,109.00,26.00,13.00,3.00,2.00,654.00,387.00,121.00,28.00,13.00,3.00,2.00
75%,861.00,458.00,264.00,96.00,29.00,6.00,13.00,898.75,481.00,269.00,106.00,30.00,6.00,13.00
max,"6,872.00","2,707.00","1,918.00","2,208.00",159.00,40.00,217.00,"7,522.00","2,420.00","1,816.00","3,319.00",149.00,34.00,"1,911.00"

In [4]:
df_admision.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914 entries, 0 to 1913
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 1914 non-null   object
 1   admissions_total     1914 non-null   int64
 2   admissions_white     1914 non-null   int64
 3   admissions_black     1914 non-null   int64
 4   admissions_hispanic  1914 non-null   float64
 5   admissions_amerind   1914 non-null   float64
 6   admissions_asian     1914 non-null   float64
 7   admissions_other     1914 non-null   float64
 8   releases_total       1914 non-null   int64
 9   releases_white       1914 non-null   int64
 10  releases_black       1914 non-null   int64
 11  releases_hispanic    1914 non-null   float64
 12  releases_amerind     1914 non-null   float64
 13  releases_asian       1914 non-null   float64
 14  releases_other       1914 non-null   float64
 15  state                1914 non-null   object
dtypes: float64(8), int64(6), object(2)
memory usage: 239.4+ KB

In [5]:
df_pop.describe()

,incarcerated_total,incarcerated_white,incarcerated_black,incarcerated_hispanic,incarcerated_amerind,incarcerated_asian,incarcerated_other,incarcerated_unknown,incarcerated_nonwhite
count,"9,585.00","9,585.00","9,308.00","5,743.00","7,245.00","6,726.00","6,067.00","3,968.00","9,585.00"
mean,"27,722.81","11,976.27","11,404.32","5,038.77",463.46,196.77,662.84,59.34,"15,746.54"
std,"34,571.30","15,489.32","14,361.10","11,480.77",736.10,451.04,"1,477.54",93.47,"21,146.52"
min,"1,128.00",40.00,49.00,0.00,0.00,-1.00,0.00,0.00,163.00
25%,"6,567.00","4,056.00","1,045.50",259.00,35.00,31.00,41.00,3.00,"2,583.00"
50%,"19,226.00","8,265.00","5,788.50",790.00,215.00,83.00,127.00,19.00,"9,811.00"
75%,"32,860.00","14,378.00","17,067.00","3,014.50",592.00,191.00,640.00,65.00,"21,297.00"
max,"219,142.00","130,486.00","82,571.00","57,144.00","4,199.00","3,693.00","10,376.00",514.00,"108,209.00"

In [6]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9585 entries, 0 to 9584
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   9585 non-null   object
 1   data_or_inferred       9585 non-null   object
 2   incarcerated_total     9585 non-null   float64
 3   incarcerated_white     9585 non-null   int64
 4   incarcerated_black     9308 non-null   float64
 5   incarcerated_hispanic  5743 non-null   float64
 6   incarcerated_amerind   7245 non-null   float64
 7   incarcerated_asian     6726 non-null   float64
 8   incarcerated_other     6067 non-null   float64
 9   incarcerated_unknown   3968 non-null   float64
 10  incarcerated_nonwhite  9585 non-null   float64
 11  state                  9585 non-null   object
 12  url                    9585 non-null   object
dtypes: float64(8), int64(1), object(4)
memory usage: 973.6+ KB

In [7]:
# Borro la columna 'url'
df_pop.drop(columns='url', inplace=True)

In [8]:
# Comprobamos si existen datos nulos
df_pop.isna().sum()

date                        0
data_or_inferred            0
incarcerated_total          0
incarcerated_white          0
incarcerated_black        277
incarcerated_hispanic    3842
incarcerated_amerind     2340
incarcerated_asian       2859
incarcerated_other       3518
incarcerated_unknown     5617
incarcerated_nonwhite       0
state                       0
dtype: int64

In [9]:
# Comprobamos si existen datos nulos
df_admision.isna().sum()

date                   0
admissions_total       0
admissions_white       0
admissions_black       0
admissions_hispanic    0
admissions_amerind     0
admissions_asian       0
admissions_other       0
releases_total         0
releases_white         0
releases_black         0
releases_hispanic      0
releases_amerind       0
releases_asian         0
releases_other         0
state                  0
dtype: int64